<%- include ./common/header.ejs  %>

    <div class="container">
        <div class="row">
                <div align="center" style="margin-top:50px; margin-left: -30px">
                        <img src="images/账本logo.png">
                   </div>
            <div class="col-sm-4 col-sm-offset-3" style="margin-top:40px; margin-left: 350px; ">
                <form class="form-horizontal" action="http://localhost:4000/register" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">账号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="email" placeholder="请输入邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-9 col-sm-10">
                            <button type="submit" class="btn btn-default">注册</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <%- include ./common/footer.ejs  %>